#aa{
    margin-top: 0px;
    height: 100px;
    width: 200px;
}
#back{
    background-color: rgb(252, 225, 222);
    height: 400px;
    width: 100%;
}
h1{
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    padding-left: 60px;
    padding-top: 30px;
    font-weight: bold;
}
#ba{
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
}
#bc{
    margin-left: 60px;
    color: antiquewhite;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
}

h2{
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-top: 120px;
    font-weight: bold;
}
#ca{
    margin-left: 600px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    margin-top: -190px;
    margin-bottom: 150px
}
h3{
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin-top: 40px;
    font-weight: bold;
}
#da{
    width: 370px;
    height: 450px;
    margin-left: 60px;
    margin-bottom: -17px;
    border-radius: 10px;
    margin-top: 20px;
}
#db{
    width: 370px;
    height: 450px;
    margin-left: -12px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
}
#dc{
    width: 370px;
    height: 450px;
    margin-left: -46px;
    margin-top: -475px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
}
h4{
    font-family: 'Poppins', sans-serif;
    margin-left: 65px;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
}
h5{
    font-family: 'Poppins', sans-serif;
    margin-left: 455px;
    font-size: 25px;
    margin-top: -115px;
    font-weight: 600;
    position: absolute;
}
h6{
    font-family: 'Poppins', sans-serif;
    margin-left: 835px;
    font-size: 25px;
    margin-top: -118px;
    font-weight: 600;
    position: absolute;
}
#dd{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 65px;
    color: dimgray;
}
#de{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 458px;
    color: dimgray;
    margin-top: -78px;
}
#df{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 835px;
    color: dimgray;
    margin-top: -80px;
}
#us{
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin-top: 50px;
    font-weight: bold;
}

#ea{
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    color: dimgray;
    font-size: 20px;
    margin-top: 20px;
}
#eb{
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    color: dimgray;
    font-size: 20px;
    margin-bottom: 130px;
}

#fa{
    width: 400px;
    height: 450px;
    margin-left: 64px;
    margin-bottom: -0.5px;
    margin-top: -50px;
}
#fb{
    width: 400px;
    height: 450px;
    margin-left: 440px;
    margin-top: -50px;
    margin-bottom: -0.5px;
    position: absolute;
}
#fc{
    width: 400px;
    height: 450px;
    margin-left: 816px;
    margin-top: -50px;
    margin-bottom: 18px;
    position: absolute;
}  
#fd{
    width: 400px;
    height: 450px;
    margin-left: 64px;
    margin-bottom: -0.5px;
    margin-top: 0px;
}
#fe{
    width: 400px;
    height: 450px;
    margin-left: 440px;
    margin-top: 0px;
    margin-bottom: -0.5px;
    position: absolute;
}
#ff{
    width: 400px;
    height: 450px;
    margin-left: 352px;
    margin-bottom: -0.5px;
    margin-top: 0px;
}
#four{
    height: 610px;
	background-color: #f8fbfd;
    width: 100%;
    margin-top: 50px;
}
#fem{
    color: rgb(25, 11, 64);
    font-size: 45px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 45px;
    position: absolute;
    margin-left: 526px;
}
#mal{
    color: rgb(27, 26, 26);
    text-align:left;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    margin-top: 520px;
    position:absolute;
    margin-left: 60px;
}
#cd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    margin-top: -30px;
    height: 200px;
}
#cdd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
#cdb{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
.card-title{
    font-size: 20px;
    margin-bottom: 64px;
    margin-top: 0px;
    color: black;
}
#rr{
    padding: 80px;
    margin: 87px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 498px;
    height: 37px;
}
#sd{
    margin-top: 30px;
}
.scroll-bg{
	background-color: #f8fbfd;
    width: 940px;
    height: 250px;
    padding: 38px;
    margin-top: 147px;
    position: absolute;
    margin-left: 142px;
}
.scroll-div{
    width: 900px;
	background-color: #ffffff;
    height: 246px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 17px;
}
.scroll-object{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 20px;
}
#kk{
    margin-top: 600px;
}
.card{
    margin-left: 100px;
    position: absolute;
    margin-top: 140px;
}
#pic{
    height: 200px;
}
.card-text{
    margin-top: 30px;
    font-size: 15px;
}
.card-title{
    margin-left: 0px;
}
#go{
    margin-top: 10px;
    margin-left:123px;
}
#oe{
    margin-left: 60px;
}
#tt{
    margin-left: 355px;
}
#th{
    margin-left: 655px;
}
#fo{
    margin-left: 950px;
}
#you{
    margin-top: 465px;
    position: absolute;
}