<!-- 1 -->
<div id="box">
    <div id="bb">
        <img src="../../assets/about/vision.png" id="vi">
        <h1 id="nur">Our Mission</h1>
        <p id="exp">Our mission is to bring quality services to your doorstep, making life easier and more convenient for you. We connect you with skilled professionals who are ready to assist with a variety of tasks.</p>
    </div>
</div>


<!-- 2 -->
<div id="boxx">
    <div id="ba">
        <img src="../../assets/about/teamwork.png" id="vi">
        <h1 id="nur">Our Team</h1>
        <p id="exp">Our team is dedicated to ensuring you receive the best service possible. We work with experienced professionals who are passionate about their work and committed to excellence.</p>
    </div>
</div>


<!-- 3 -->
<div id="boxt">
</div>


<!-- 4 -->
<div id="boxtt">
</div>

<div id="boxttt">
</div>

<div id="boxtttt">
</div>

<!-- 5 -->
<div>
    <div class="col-lg-6">
        <img src="../../assets/about/v.jpg" id="th">
    </div>
    <div id="bc">
        <img src="../../assets/about/customer.png" id="vii">
        <h1 id="nurr">Our Values</h1>
        <p id="expp">-<b> Quality:</b> We strive to provide services that meet the highest standards.<br><br>
            - <b>Reliability:</b> You can count on us to be there when you need us.<br><br>
            - <b>Customer Satisfaction:</b> Your satisfaction is our top priority.</p>
    </div>
</div>

