#box{
    height: 70px;
    background-color: #f34e51;
    margin-top: 100px;
}
#boxx{
    height: 70px;
    background-color: #f46265;
}
#boxt{
    height: 70px;
    background-color: #fc6466;
}
#boxtt{
    height: 70px;
    background-color: #f97073;
}
#boxttt{
    height: 70px;
    background-color: #fb8082;
}
#boxtttt{
    height: 70px;
    background-color: #fc8f91;
}
#bb{
    background: #ffffff; /* Fallback color */
    // background: rgba(255, 255, 255, 0.5); /* Black background with 0.5 opacity */
    height: 240px;
    width: 500px;
    margin-top: 100px;
    position: absolute;
    margin-left: 100px;
}
#ba{
    background: #ffffff; /* Fallback color */
    // background: rgba(255, 255, 255, 0.5); /* Black background with 0.5 opacity */
    height: 240px;
    width: 500px;
    margin-top: 30px;
    position: absolute;
    margin-left: 670px;
}
#bc{
    background: #f4f0f0; /* Fallback color */
    // background: rgba(255, 255, 255, 0.5); /* Black background with 0.5 opacity */
    height: 500px;
    width: 662px;
    margin-top: -500px;
    position: absolute;
    margin-left: 600px;
}
#nur{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 800;
    margin-left: 110px;
    margin-top: 20px
}
#nurr{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 800;
    margin-left: 150px;
    margin-top: 100px
}
#exp{
    color:#1d1b1b;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 30px;
    margin-right: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#expp{
    color:#1d1b1b;
	font-size: 18px;
	margin-left: 100px;
	margin-top: 40px;
    margin-right: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#vi{
    height: 60px;
    width: 60px;
    position: absolute;
    margin: 20px;
    margin-left: 40px;
}
#vii{
    height: 60px;
    width: 60px;
    position: absolute;
    margin: 100px;
    margin-left: 80px;
}
#th{
    height: 500px;
    width: 600px;
    margin-top: 80px;
}
#bl{
    background-color:#f34e51;
    height: 500px;
    margin-left: 600px;
    position: absolute;
    width: 660px;
    margin-top: -500px;
}
#how{
    color: white;
    margin: 90px;
}
#our{
    font-size: 20px;
    color: rgb(232, 228, 228);
    margin: 90px;
}