h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(20, 2, 64);
    text-align: center;
    font-weight: bolder;
    font-size: 40PX;
    margin-top: 35PX;
}
#aa{
    width: 1270px;
    height: 500px;
    margin-top: 20PX;
}
h2{
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 850px;
    margin-top: -275px;
}
.btn-danger{
    margin-left: 975px;
    background-color:#f34e51;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
}
h3{
    font-family: 'Poppins', sans-serif;
    color: rgb(19, 2, 76);
    text-align: center;
    font-weight: bolder;
    font-size: 40PX;
    margin-top: 280PX;
}
#ba{
    margin-top: 50px;
    height: 250px;
    width: 300px;
    margin-left: 65px;
    border-radius: 20px;
}
#bb{
    margin-top: 50px;
    height: 250px;
    width: 300px;
    margin-left: -165px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 17px;
}
#bc{
    margin-top: -280px;
    height: 250px;
    width: 300px;
    margin-left: 890px;
    margin-bottom: 35px;
    border-radius: 20px;
}
#bbb{
    margin-top: 0px;
    margin-left: 120px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(23, 2, 71);
    position: absolute;
}
#bbf{
    margin-top: 0px;
    margin-left: 480px;
    font-size: 18px;
    color: rgb(23, 2, 71);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}
#bbg{
    margin-top: 0px;
    margin-left: 935px;
    font-size: 18px;
    color: rgb(23, 2, 71);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#bba{
    color: black;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;margin-right: 840px;
    position: absolute;
}
// .btn-primary{
//     margin-left: 140px;
//     background-color: rgb(223, 132, 102);
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     border: none;
//     border-radius: 20px;
//     margin-top: 20px;
// }
h4{
    margin-left: 490px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: -200px; 
}
#bbc{
    color: black;
    margin-left: 480px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 450px;
}
.btn-light{
    margin-left: 590px;
    background-color: rgb(223, 132, 102);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
h5{
    margin-left: 90px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: -200px; 
}
#bbd{
    color: black;
    margin-left: 890px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    margin-top: -130px;
    position: absolute;
    margin-right: 50px;
}
.btn-dark{
    margin-left: 1030px;
    background-color: rgb(223, 132, 102);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
}
#ca{
    margin-top: 80px;
    height: 250px;
    width: 300px;
    margin-left: 55px;
    border-radius: 20px;
}
#cpp{
    margin-top: 80px;
    height: 250px;
    width: 300px;
    margin-left: 50px;
    border-radius: 20px;
    position: absolute;
}

#cc{
    margin-top: 80px;
    position: absolute;
    height: 250px;
    width: 300px;
    margin-left: 40px;
    margin-bottom: 35px;
    border-radius: 20px;
}
#cca{
    margin-top: 40px;
    margin-left: 55px;
    font-size: 18px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}
#ccb{
    color: black;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    margin-right: 850px;
}
.btn-yellow{
    margin-left: 140px;
    background-color: rgb(223, 132, 102);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
#ccc{
    margin-top: 40px;
    margin-left: 9px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
#ccd{
    color: black;
    margin-left: 475px;
    position: absolute;
    margin-right: 430px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}
.btn-black{
    margin-left: 590px;
    background-color: rgb(223, 132, 102);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
#cce{
    margin-left: 860px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: -30px; 
    position: absolute;
}
#ccf{
    color: black;
    margin-left: 900px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    margin-top: 17px;
    margin-right: 50px;
}
.btn-blue{
    margin-left: 1030px;
    background-color: rgb(223, 132, 102);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
}
#za{
    background-color: chocolate;
    margin-top: 100px;
    height: 100px;
    padding-top: 45px;
}
#da{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 40PX;
    margin-top: 100PX;
}
#db{
    margin-left: 300px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: -15px;
}
#dc{
    font-family: 'Poppins', sans-serif;
    margin-left: 270px;
    margin-top: 20px;
}
#dd{
    margin-left: 620px;
    height: 55px;
    margin-top: -100px;
    margin-bottom: 370px;
}
#de{
    font-family: 'Poppins', sans-serif;
    margin-left: 540px;
    margin-top: -365px;
}
#df{
    margin-left: 950px;
    height: 60px;
    margin-top: -120px;
    margin-bottom: 370px;
}
#dg{
    font-family: 'Poppins', sans-serif;
    margin-left: 880px;
    margin-top: -364px;
}
#four{
    height: 650px;
	background-color: #f8fbfd;
    width: 100%;
    margin-top: 90px;
}
#fem{
    color: rgb(27, 26, 26);
    text-align:left;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    margin-top: 60px;
    position:absolute;
    margin-left: 60px;
}
#mal{
    color: rgb(27, 26, 26);
    text-align:left;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    margin-top: 520px;
    position:absolute;
    margin-left: 60px;
}
#cd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    margin-top: -30px;
    height: 200px;
}
#cdd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
#cdb{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
.card-title{
    font-size: 20px;
    margin-bottom: 64px;
    margin-top: 0px;
    color: black;
    margin-left: 5px
}
#rr{
    padding: 80px;
    margin: 87px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 498px;
    height: 37px;
}

#sd{
    margin-top: 30px;
}
.scroll-bg{
	background-color: #f8fbfd;
    width: 940px;
    height: 250px;
    padding: 38px;
    margin-top: 127px;
    position: absolute;
    margin-left: 142px;
}
.scroll-div{
    width: 900px;
	background-color: #ffffff;
    height: 246px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 17px;
}
.scroll-object{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 20px;
}
#kk{
    margin-top: 600px;
}
.card{
    margin-left: 100px;
    position: absolute;
    margin-top: 140px;
}
#jack{
    margin-left: 10px;
    width: 90%;
}
#pic{
    height: 200px;
}
.card-text{
    margin-top: -56px;
    font-size: 15px;
    margin-bottom: 35px;
    font-family: 'Times New Roman', Times, serif;
}
#go{
    margin-top: 12px;
    margin-left: 123px;
}
#oe{
    margin-left: 60px;
}
#tt{
    margin-left: 355px;
}
#th{
    margin-left: 655px;
}
#fo{
    margin-left: 950px;
}
#you{
    margin-top: 465px;
    position: absolute;
}