#body{
	background-color: #f34e51 ;
    height: 370px;
    width: 100%;
    margin-top: 90px;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
    position: absolute;
    margin-top: 100px;
    margin-left: 350px;
}
#dull{
    text-align: center;
    color: rgb(244, 238, 238);
    font-size: 20px;
    position: absolute;
    margin-left: 280px;
    margin-top: 180px;
    margin-right: 280px;
}
#my{
    height: 170px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
h4{
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    position: absolute;
    margin-left: 550px;
    font-size: 30px;
}
#pt{
    width:570px;
    height: 400px;
    margin-left: 50px;
}
#ptt{
    width: 570px;
    height: 400px;
    position: absolute;
}
#int{
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
}
#we{
    font-size: 17px;
    margin-left: 50px;
}
#ext{
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px;
}
#mak{
    font-size: 17px;
    margin-left: 0px;
}
#four{
    height: 650px;
	background-color: #f8fbfd;
    width: 100%;
    margin-top: 90px;
}
#fem{
    color: rgb(27, 26, 26);
    text-align:left;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    margin-top: 60px;
    position:absolute;
    margin-left: 60px;
}
#mal{
    color: rgb(27, 26, 26);
    text-align:left;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    margin-top: 520px;
    position:absolute;
    margin-left: 60px;
}
#cd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    margin-top: -30px;
    height: 200px;
}
#cdd{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
#cdb{
	background-color: #ffcdce ;
    border-radius: 20px;
    width: 700px;
    margin: 10% auto;
    height: 200px;
    margin-top: -50px;
}
.card-title{
    font-size: 20px;
    margin-bottom: 64px;
    margin-top: 0px;
    color: black;
}
#rr{
    padding: 80px;
    margin: 87px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 498px;
    height: 37px;
}

#sd{
    margin-top: 30px;
}
.scroll-bg{
	background-color: #f8fbfd;
    width: 940px;
    height: 250px;
    padding: 38px;
    margin-top: 127px;
    position: absolute;
    margin-left: 142px;
}
.scroll-div{
    width: 900px;
	background-color: #ffffff;
    height: 246px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 17px;
}
.scroll-object{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 20px;
}
#kk{
    margin-top: 600px;
}
.card{
    margin-left: 100px;
    position: absolute;
    margin-top: 140px;
}
#jack{
    margin-left: 10px;
    width: 90%;
}
#pic{
    height: 200px;
}
.card-text{
    margin-top: -56px;
    font-size: 15px;
    margin-bottom: -5px;
    font-family: 'Times New Roman', Times, serif;
}
#go{
    margin-top: 12px;
    margin-left: 123px;
}
#oe{
    margin-left: 60px;
}
#tt{
    margin-left: 355px;
}
#th{
    margin-left: 655px;
}
#fo{
    margin-left: 950px;
}
#you{
    margin-top: 465px;
    position: absolute;
}
