<nav class="navbar navbar-expand-lg navbar-light shadow-5-strong fixed-top">
  <div class="container-fluid">
    <div class="container"><a class="navbar-brand" href="index.html"><img src="../../assets/SkillVibe.store.png" height="90" width="160px" alt="logo" id="logo" /></a></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="beauty-treatment" >Beauty Treatment</a></li>
            <li><a class="dropdown-item" routerLink="cook" >Cook</a></li>
            <li><a class="dropdown-item" routerLink="dog-therapy" >Dog Therapy</a></li>
            <li><a class="dropdown-item" routerLink="emotional" >Emotional Support & Counseling</a></li>
            <li><a class="dropdown-item" routerLink="painting" >Home Painting</a></li>
            <li><a class="dropdown-item" routerLink="maid" >Maid</a></li>
            <li><a class="dropdown-item" routerLink="photo" >Photographer/Videographer</a></li>
            <li><a class="dropdown-item" routerLink="packers-movers" >Packers & Movers</a></li>
          </ul>
        </li>   
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us">About-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">Contact-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services">Services</a>
        </li>
      </ul>
      <div class="d-flex ms-lg-4">
        <a class="btn btn-secondary-outline" routerLink="signin">Sign In</a>
        <a class="btn btn-warning ms-3" routerLink="log-in">Log-in</a>
        <a class="btn btn-warning ms-3" routerLink="log-out">Log-out</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
