<div class="container-fluid">
    
    <!---background img--><img src="../../assets/services/s1.jpg" id="ab">
    <div class="top-left">
    <h1>Masterful Solutions for Every <br>Home Need</h1>
    <p id="aa">Discover expert home solutions tailored for efficiency and excellence. <br>Trust our professionals to elevate your living space today.</p>
    <button type="button" class="btn btn-blue">Explore Now</button>
    </div>

    <div>
        <h2>SERVICES</h2>
        <div>
            <img src="../../assets/services/cook.png" id="fa">
            <img src="../../assets/services/dog.png" id="fb">
            <img src="../../assets/services/photo.png" id="fc">
            <img src="../../assets/services/counseling.png" id="fd">
            <img src="../../assets/services/beauty.png" id="fe">
            <img src="../../assets/services/home.png" id="ff">
        </div>
    </div>

    <div class="row" id="back">
        <div class="col-lg-6">
            <img src="../../assets/services/about-us.jpg" id="gh">
        </div>

        <div class="col-lg-6">
            <h3>About Us</h3>
        <p id="cc">Welcome to Synergestic Help, your trusted partner in home services <br>across India. We provide a range of services to keep your home running <br>smoothly.<br>
           Our dedicated team of professionals is committed to delivering reliable <br>and efficient solutions tailored to your needs. Let us simplify your <br>life with our comprehensive suite of offerings.
        </p>
        </div>
        
    </div>
    

</div>
