/* Chatbot Button Style */
#chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000; /* Button color */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 9999;
    transition: all 0.3s;
}

#chatbot-btn:hover {
    background-color: #ff1e3c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Chatbot Container Style */
#chatbase-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    height: 500px;
    z-index: 9998;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition: all 0.3s ease;
}
