<!--container-->

    <!---1--->
    <div class="row">
        <div id="textrr">
            <h1 id="text">Register now as a service seekers!!</h1>
        </div>
        <div>
            <button class="btn btn-danger" (click)="openGoogleForm()">Register</button>
        </div>
    </div>

    <!-- T & C -->
<div id="tc">
<p id="plz">"Please read the Terms and Conditions PDF carefully before registering as a vendor. By proceeding, you confirm that you have understood and agreed to all the terms outlined in the document."</p>
<p id="vw">Click the link below to view the PDF:</p>
<a id="view" href="../../assets/T & C.pdf" target="_blank">English</a>
<a id="hin" href="../../assets/T & C Hindi.pdf" target="_blank">Hindi</a>
<p id="or">Or download it:</p>
<a id="dw" href="../../assets/T & C.pdf" download>Download (English)</a>
<a id="hw" href="../../assets/T & C Hindi.pdf" download>Download (Hindi)</a>
</div>



    <div class="hero-image">
        <div class="hero-text">
            <p>Flexible, Reliable, and Affordable – Book Skilled Professionals by the Hour for All Your Home Service Needs and Enjoy the Convenience of Quality Service at Your Place!</p>
        </div>
    </div>
    

    <!---3--->
    <div>
        <div>
            <h1 id="ca">Welcome to SkillVibe.store!<br>
                appka bahut bahut sawgat hai!
            </h1>
            <p id="cb">Your one-stop solution for professional services delivered right to your doorstep. From cleaning and beauty treatments to gardening and caretaker services, we provide a range of hourly-based services to meet your needs with convenience and quality.</p>
        </div>
        <div>
            <p id="cc"><b id="call">CALL US!</b></p>
            <button type="button" class="btn btn-light" id="cd">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="ce">
                    <path
                        d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                </svg>+91 123-456-7890</button>
        </div>
    </div>

    <!---3.2--->
    <div id="roo">
        <div class="row">
            <h2>STEPS TO USE SkillVibe.store</h2>
            <div class="col-lg-6" id="ml">
                <h4>Register as a service seekers</h4>
                <p id="pa">- click on "registeration" button of home page.</p>
                <p id="pa">- fill the google sheet and submit.</p>
                <p id="pa">- after form do log-in.</p>
                <p id="pa">- wait for confirmation email message from SkillVibe.store.</p>
                <p id="pa">- your registration done successfully</p>
            </div>
            <div class="col-lg-6" id="lm">
                <h4>Register as a service providers</h4>
                <p id="pa">- do sign-in and create your account.</p>
                <p id="pa">- if already have an account then do log-in.</p>
                <p id="pa">- click on "resources" of menu bar.</p>
                <p id="pa">- select preferable option.</p>
                <p id="pa">- click on "book now" button of list.</p>
                <p id="pa">- fill the google sheet form.</p>
                <p id="pa">- vendor contact you for confirmation message through email/call.</p>
                <p id="pa">- your booking is done.</p>
            </div>
        </div>
    </div>

    <!--4-->
    <div id="five">
        <div>
            <img src="../../assets/cleans/validation.png" id="vald">
        </div>
        <div>
            <h3 id="us">Why Choose Us?</h3>
            <p id="all">-All our service providers are thoroughly vetted and highly skilled.<br><br>-Book services easily through our user-friendly platform.<br><br>-Choose the time that works best for you.<br><br>-Clear and competitive rates with no hidden fees.</p>
        </div>    
    </div>


 <!---5--->
    <div id="back">
        <div>
            <h1 id="da">Let Us Work While You Unwind</h1>
        </div>
        <div class="row" id="fan">
            <div class="col-lg-3" id="db">
                <img src="../../assets/cleans/esthetician.png" id="mop">
            </div>
            <div class="col-lg-3" id="dc">
                <img src="../../assets/cleans/booking (1).png" id="mop">
            </div>
            <div class="col-lg-3" id="dd">
                <img src="../../assets/cleans/reservation.png" id="mop">
            </div>
            <div class="col-lg-3" id="dz">
                <img src="../../assets/cleans/best-price.png" id="mop">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" id="de">
                <p>Trusted Professionals</p>
            </div>
            <div class="col-lg-3" id="df">
                <p>Flexible Scheduling</p>
            </div>
            <div class="col-lg-3" id="dg">
                <p>Convenient <br>Booking</p>
            </div>
            <div class="col-lg-3" id="dgg">
                <p>Transparent Pricing</p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary">BOOK IN LESS THAN 60 SEC</button>
        </div>
    </div>


    <!---6--->
    <div class="row" id="get">
        <div id="ea">
            <p id="ready">Ready to experience top-notch services at your doorstep? Book Now and let us handle the rest!</p>
        </div>
    </div>


    <!--7-->
    <div id="sev">
        <div>
            <h3 id="book">Booking</h3>
            <h6 id="how">How It Works</h6>
            <p id="our"><b>1. Select Your Service:</b> Choose from our range of professional services.<br><br>
                <b>2. Schedule Your Appointment:</b> Pick a date and time that suits you.<br><br>
                <b>3. Enjoy Quality Service:</b> Our professionals will arrive at your doorstep and provide top-notch service.</p>
        </div>  
        <div>
            <img src="../../assets/cleans/marketer.png" id="mar">
        </div>  
    </div>




<!--footer-->
<footer>
    <div>
        <img src="../../assets/cleans/SkillVibe.store3.png" height="140" width="170px" alt="logo" id="loggo" />
    </div>
    <div id="sea">
            <div class="col" id="nf">Request A Callback</div>
            <div class="input-group mb-3" id="ng">
                <input type="text" class="form-control" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3" id="nh">
                <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="btn btn-info">Submit Request</button>
    </div>
</footer>
